        <a 
           href="https://wa.me/1234567890" 
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center gap-2 bg-blue-500 hover:bg-blue-600 text-white px-5 py-2.5 rounded-lg font-medium transition-all text-sm shadow-sm hover:shadow-md"
        >
          <img 
            src="img/logos/logo-agendar.webp" 
            alt="WhatsApp" 
            class="w-5 h-5 bg-amber-50 rounded-md p-1"
          />
          <span>Agendar Cita</span>
        </a>